
body{
    /*background-image: url(../imagenes/joggerverde.jpg);*/
    background-color: dodgerblue;
    background: size 100% 
}

.contenedor{
    background-color: dodgerblue;
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    background-size: 100%;
    grid-template-columns: 1;
    grid-template-rows: repeat(6 auto);
   /* grid-template-rows: repeat(5, auto);*/

   grid-template-areas: "header "
                         "h2"
                         "h3"
                         "menu"
                         "footer";
                         


}
.contenedor,
.header,
.h2,
.h3,
.menu
.footer{
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
}
.contenedor
.header{
    background: white;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    grid-area: header;
    
}

.contenedor .h2{
    background-color: white;
    color:black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:fantasy;
    font-size: 60px;
    grid-area: h2;

}

.contenedor .h3{
    background: white;
    color: black;
    display: flex;
    align-items: flex-start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    grid-area: h3;
}

.contenedor .menu{
   background-color: white;
   color: black;
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 40px;
   padding: 10px;
   margin: 10x;
   border-bottom: 20px;
   list-style: none;
   grid-area: menu;
}

.contenedor .footer{
    background: white;
    color: black;
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 20px;
   padding: 10px;
   margin: 10x;
   border-bottom: 20px;
   grid-area: footer;

}



.pTransition{
    transition: height 1s;
}
.pTransition:hover{
    height: 100px;
}



    
.parrafoaccesorios{
    background-color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px


}
.fondoaccesorios{
  /*  background-image: url(../imagenes/imagendefondo.jpg);*/
  background-color: dodgerblue;
    background: size 100% ;

}

.accesorios{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 50px;
    margin: 50px;
}

.imagendubai{
    display: grid;
    grid-template-columns: repeat(2, fr);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    padding: 10px;
    margin: 10x;
    border: 2px;
    border-radius: 25px;
}


.menuaccesorios{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    border: 4px solid black;
    background-color: lightgray;
    text-align: center;

}
.contactoaccesorios{
    background-color: black;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    margin: 30x;

}






.containercontacto{
   /* background-image: url(../imagenes/imagendefondo.jpg);*/
    background: size 100% ;
    background-color: dodgerblue;

}
.headercontacto{
    background-color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px
}
.h2contacto{
    background-color: white;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
    font-size: 60px;
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    
}


.pcontacto{
    background: white;
    color: black;
    text-align: start;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
}

.letra{
    background-color: aqua;
}
.menudenavegacioncontacto{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 50px;
    margin: 50px;

}
.footercontacto{
    background: white;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin: 20px;
    padding: 20px;
    border-radius: 4px;

}


.d-block{
    width: 20px;
}







/*.contenedorjoggers{
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    background-size: 100%;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(6, auto);
}
.grid-loyoutjoggernegro,
.grid-loyoutjoggerverde
{
   display: grid;
    grid-template-col umns: repeat(2, fr);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    padding: 10px;
    margin: 10x;
    border: 2px;
    border-radius: 25px;
}

.descripcionjoggernegro,
.descripcionjoggerverde
{
    border: 2px solid beige;
    border-radius: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
}




.imgjoggernegro,
.imgjoggerverde
{
   width: 300px;
}


.imgjoggernegro:hover,
.imgjoggerverde:hover{
    transform: scale(1.5);
}




.menujoggers{
    background-color: dodgerblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    padding: 10px;
    margin: 10x;
   border:  2px solid beige;
   border-radius: 25px;
}

.contactojoggers{

    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    padding: 30px;
    margin: 10x;
    border:  2px solid beige;
   border-radius: 25px;
}*/







.fondoremeras{

 background-color: dodgerblue;

}

.h1remeras{
    background-color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px

}

.menuremeras{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 50px;
    margin: 50px;

}
.contactoremeras{
    background-color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px
}




.h1suscripcion{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 50px;
    margin: 50px;

}

.formulariosuscripcion{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 20px;
    margin: 20px;

}
.menususcripcion{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 50px;
    margin: 50px;



}
.contactosuscripcion{
    background-color: black;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    margin: 30px;

}



.contenedorjogger{
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-gap: 30px;
    background-size: 100%;
    /*grid-template-rows: repeat(6, auto);*/
    grid-template-areas: "joggerheader"
                         "joggerverde"
                         "joggernegro"
                         "joggermenu"
                         "joggersection"
                         "joggerfooter";
    

}

.contenedorjogger,
.joggerheader,
.joggermain,
.joggermenu,
.joggersection,
.joggerfooter{
    background: dodgerblue;
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
}
.contenedorjogger .joggerheader{
    background: white;
    color: black;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    grid-area: auto;
    

}
.contenedorjogger .joggerh1{
    background-color: white;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    grid-area:auto

}

.joggernegro,
.joggerverde{
    color:black ;
    border: 2px solid black;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-gap: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    padding: 10px;
    margin: 10x;
    border: 2px;
    border-radius: 25px;
    grid-area: auto;
}
.descripcionjoggernegro,
.descripcionjoggerverde
{
   background-color: beige;
}
    



.imgjoggernegro,
.imgjoggerverde
{
   width: 300px;
}


.imgjoggernegro:hover,
.imgjoggerverde:hover{
    transform: scale(1.5);
}

.joggermenu{

    background: white;
    color: black;
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 40px;
   padding: 10px;
   margin: 10x;
   border-bottom: 20px;
   list-style: none;
   grid-area: auto;

}

.joggerfooter{
    background: white;
    color: black;
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 40px;
   padding: 10px;
   margin: 10x;
   grid-area: auto
 
}

@media screen and (max-width: 768px){
    body{
        background: black;
    }
    .contenedor{
        grid-template-areas: "header "
                         "h2"
                         "h3"
                         "menu"
                         "footer";
    }

    .contenedorjogger{
        grid-template-areas: "joggerheader"
        "joggerverde"
        "joggernegro"
        "joggermenu"
        "joggersection"
        "joggerfooter";
    }
}

